/* poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* shared styles */
:root {
    --primary-color: rgb(58, 58, 58);
    --font-size: 1rem;
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-manrope: "Manrope", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url("../images/background.png");
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.header {
    padding: 50px;
}

/* navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
}

.nav>ul {
    display: flex;
}

.nav li {
    list-style: none;
    margin-right: 34px;
    font-family: var(--font-poppins);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 10;
}

.nav li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nav li a:hover {
    color: #b30059;
}

.nav-title {
    font-family: var(--font-poppins);
    color: var(--primary-color);
    font-size: 1.5 rem;
    font-weight: 700;
    white-space: nowrap;
}

.search {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.cart {
    width: 40px;
    height: 40px;
    margin-top: -5px;
}

/* logo styles */
.logo-container {
    margin-top: 150px;
}

.line1, .line2 {
    width: 1110px;
    margin-left: 50px;
    background-color: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

.logo {
    margin: 36px 62px 35px 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a img {
    padding-right: 60px;
    position: relative;
    z-index: 9;
}

.logo a:hover img {
    cursor: pointer !important;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner-content {
    max-width: 500px;
    margin-top: 50px;
}

.background-image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 100px;
    margin-left: 720px;
    width: 475px;
    height: 475px;
}

.banner-pic {
    position: absolute;
    width: 440px;
    margin-top: 30px;
    margin-right: 70px;
}

.banner-title {
    font-family: var(--font-poppins);
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.banner-description {
    font-family: var(--font-poppins);
    color:  #800000;
    font-size: 1rem;
    font-weight: 600;
}

.btn-prebook {
    background: rgb(224, 44, 109);
    border: 0;
    cursor: pointer;
    border-radius: 41px;
    color: rgb(255, 255, 255);
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
}

.btn-prebook:hover {
    background: #800080;
    color: rgb(182, 235, 235);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.arrow {
    width: 25px;
    height: 30px;
    margin-bottom: -10px;
    margin-left: 5px;
}

/* popular styles */
.popular-title {
    margin: 100px 0px 50px 530px;
    font-family: var(--font-poppins);
    color: var(--primary-color);
    font-size: 1.75rem;
    font-weight: 600;
}

.popular-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    padding:0 150px;
    gap: 30px;
}

.popular-items {
    padding-bottom: 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.popular-items:hover {
    background-color:#ccf2ff;
}

.popular-image {
    margin: 17px 15px 5px;
}

.popular-text {
    font-family: var(--font-poppins);
    color:#521b02;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 15px;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -15px;
    margin-left: 15px;
}

.rating {
    margin-top: -20px;
    margin-left: 15px;
    display: flex;

}

.rating-icon .star-half {
    width: 21px;
    height:21px;
    margin-bottom: 3px;
}

.rating-text {
    margin-top: 4px;
    margin-left: 10px;
    color: rgb(94, 99, 102);
    font-family: var(--font-roboto);
    font-size: 0.875rem;
    font-weight: 700;
}

.popular-description {
    color: rgb(120, 120, 133);
    font-family: var(--font-inter);
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: -5px;
    margin-left: 15px;
}

.see-more {
    display: flex;
    margin-top: 30px;
    margin-left: 81.5%;
}

.see-more a {
    color: rgba(224, 44, 109, 0.87);
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.see-more img {
    width: 18px;
    height: 16px;
    margin-top: 4px;
    margin-left: 5px;
}

.see-more a:hover {
    color: blueviolet;
}

/* featured styles */
.featured {
    display: flex;
    align-items: center;
    margin: 180px 120px 0px;
    gap: 90px;
}

.featured-content {
    margin-top: -40px;
}

.featured-title {
    color: #b30059;
    font-family: var(--font-poppins);
    font-size: 2.375rem;
    font-weight: 700;
}

.featured-description {
    /* color: rgb(108, 108, 108); */
    color:  #862d59;
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    max-width: 500px;
}

.btn-join {
    background: #800080;
    border: 0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 24px;
}

.btn-join:hover {
    background: #024141;
    color: #f2f2f2;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* footer styles */
footer {
    width: 100%;
    margin-top: 120px;
    background:#023535;
    /* align-items: center; */
    /* justify-content: center; */
    color: rgb(255, 255, 255);
    padding: 20px 0;
    z-index: 1;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    font-weight: 700;

}

.footer-text1,
.footer-text2 {
    color: rgb(217, 219, 225);
    font-family: var(--font-manrope);
    font-size: 0.875rem;
    font-weight: 700;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #009999;
    border-radius: 50%; /* Circular shape */
    color:#800080; /* Icon color */
    font-size: 17px; /* Icon size */
    text-decoration: none;
}

.social-icon:hover {
    color:#bf4080;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* responsive media queries */
/* Styles for smallest smartphones */
@media screen and (max-width:479px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: left;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 10px;
    }

    .nav-title {
        grid-column: 1 / -1; /*Make the title span across both columns*/
        margin-left: 20px;
    }

    .nav>ul {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 20px;
        width: 100%;
        align-content: center;
        margin-left: -5px;
    }

    .nav li {
        list-style: none;
        font-size: 0.75rem;
        white-space: nowrap;
    }

    .nav li:nth-child(1),
    .nav li:nth-child(2),
    .nav li:nth-child(3) {
        grid-column: 1; /*Place these items in the first column */
    }

    .nav li:nth-child(4),
    .nav li:nth-child(5),
    .nav li:nth-child(6) {
        grid-column: 2; /* Place these items in the second column */
        margin-top: -78px;
    }

    .search {
        margin-left: 15px;
    }

    .cart {
        margin-top: 15px;
        margin-left: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 10px;
    }

    .background-image {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 70%;
        position: relative;
        margin: -10px 20px 20px -60px;
    }

    .banner-pic {
        position: relative;
        width: 80%;
        margin: 42px 10px 0 2px;
    }

    .banner-content {
        margin: -250px 10px 20px -200px;
        text-align: center;
        max-width: 100%;
    }

    .banner-title {
        font-size: 1.5rem;
        width:130%;
    }

    .banner-description {
        width: 80%;
        font-size: 0.75rem;
        font-weight: 500;
        text-align: center;
        margin-left: 80px;
    }

    .btn-prebook {
        font-size: 0.875rem;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 120px;
        padding: 10px 20px;
    }

    hr {
        display: none;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-top: -120px;
        margin-left: -40px;
    }

    .logo a img {
        width: 50px;
        height: auto;
        padding-right: 10px;
    }

    .logo a:nth-child(5),
    .logo a:nth-child(6),
    .logo a:nth-child(7) {
        margin-left: 40px;
    }

    .popular {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
    }

    .popular-title {
        margin: 10px 30px 20px -100px;
        text-align: center;
        font-size: 1.25rem;
    }

    .popular-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        padding: 0 10px;
        align-items: center;
        justify-items: center;
    }

    .popular-items {
        width: 100%;
    }

    .popular-image {
       width:89%;
    }

    .popular-text {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .price {
        font-size: 1.325rem;
        font-weight: 700;
    }

    .rating-text {
        font-weight: 500;
    }

    .popular-description {
        font-weight: 400;
    }

    .see-more {
        position: relative;
        left: -38%;
        white-space: nowrap;
    }

    .featured {
        display: flex;
        flex-direction: column-reverse;
        margin: 150px 120px 0px -33px;
    }

    .featured-title {
        font-size: 1.25rem;
        width: 80%;
        text-align: center;
        margin-left: 55px;
    }

    .featured-description {
        font-size: 0.75rem;
        width: 75%;
        text-align: center;
        position: relative;
        left: 70px;
    }
    
    .btn-join {
        margin-left: 110px;
        padding:10px 20px;
    }

    .featured-img img {
        width: 80%;
        height: auto;
        margin-top: -50px;
        margin-left: 50px;
    }

    .footer-content {
        padding: 5% 20% 5% 1%;
        text-align: center; 
    }

    .footer-title {
        font-size: 1rem;
    }

    .footer-text1,
    .footer-text2 {
        font-size: 0.625rem;
    }

    .icon {
        gap: 10px;
    }

    .social-icon {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    @media screen and (min-width:360px) {
        .banner-content {
            margin: -250px 10px 20px -180px;
        }

        .banner-description {
            margin-left: 85px;
        }

        .logo {
            margin-left: -20px;
        }

        .popular-container {
            width: 75%;
        }

        .see-more {
            left: -32%;
        }

        .featured-img img {
            margin-left: 60px;
        }

    }

    @media screen and (min-width:375px) {
        .nav {
            margin-left: 30px;
        } 

        .background-image {
            margin: -10px 20px 20px -30px;
        }

        .banner-pic {
            position: relative;
            width: 80%;
            margin: 47px 10px 0 2px;
        }

        .banner-content {
            margin: -250px 50px 20px -120px;
        }

        .banner-description {
            margin-left: 90px;
        }

        .logo {
            margin-left: -10px;
        }

        .popular {
            margin-left: 10px;
        }

        .popular-title {
            margin: 10px 10px 20px -80px;
        }

        .popular-container {
            width: 76%; 
        }

        .popular-image {
            width: 90%;
        }

        .see-more {
            left: -31%;
        }

        .featured {
            margin: 150px 20px 0px -10px;
        }

        .featured-img img {
            margin-left: 10px;
        }

        .featured-title {
            width: 70%;
            margin-left: 40px;
        }
    
        .featured-description {
            width: 55%;
            left: 85px;
        }

    }

    @media screen and (min-width:411px) {
        .popular-container {
            width: 84%;
        }

        .popular-image {
            width: 91%;
        }

        .see-more {
            left: -23%;
        }

        .featured-img img {
            margin-left: 30px;
        }
        
        .footer-content {
            padding: 5% 25% 5% 15%; 
        }

    }

    @media screen and (min-width:443px) {
        .featured-description {
            width: 55%; 
            left: 80px; 
        } 

    }

    @media screen and (min-width:450px) {

        .nav {
            margin-left: 60px;
        } 

        .background-image {
            margin: -10px 20px 20px 10px;
        }

        .banner-pic {
            position: relative;
            width: 80%;
            margin: 45px 10px 0 2px;
        }

        .banner-content {
            margin: -230px 10px 20px -120px;
        }

        .banner-description {
            width: 77%;
            margin-left: 100px;
        }

        .logo {
            margin-left: -10px;
        }

        .popular {
            margin-left: 20px;
        }

        .popular-container {
            width: 95%;
            padding: 0 25px;
        }

        .popular-image {
            width: 92%;
        }

        .popular-title {
            font-size: 1.5rem;
            margin: 10px 0px 20px -50px;
        }

        .see-more {
            left: -14%;
        }

        .featured {
            margin: 150px 20px 0px 40px;
        }

        .featured-description {
            width: 65%;
            left:60px;
        }

        .btn-join {
            margin-left: 110px;
        }

        .featured-img img {
            width: 90%;
            margin-left:10px;
        }

        .footer-content {
            padding: 5% 25%;
        }


    }
    
    @media screen and (min-width:458px) {
        .banner-description {
            width: 75%;
            font-size: 0.75rem;
            font-weight: 500;
            text-align: center;
            margin-left: 105px;
        }
    }
    
    
    @media screen and (min-width:469px) {
        .featured-title {
            width: 69%;
        }
    }

    @media screen and (min-width:476px) {
        .featured-title {
            width: 68%;
        }

        .featured-description {
            width: 65%;
            left: 50px;
        }
    }

}

/* Styles for modern smartphones */
@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10%;
        margin-top: 5%;
    }

    .nav-title {
        grid-column: 1 / -1; /*Make the title span across both columns*/
        text-align: center;
        position: relative;
        left:-30px;
    }

    .nav>ul {
        display: grid;
        gap: 10%;
        width: 100%;
        align-content: center;
        margin-top: 10%;
        position: relative;
        left: 35%;
    }

    .nav li {
        list-style: none;
        font-size: 1rem;
        white-space: nowrap;
    }

    .nav li:nth-child(1),
    .nav li:nth-child(2),
    .nav li:nth-child(3) {
        grid-column: 1; /* Place these items in the first column */
    }

    .nav li:nth-child(4),
    .nav li:nth-child(5),
    .nav li:nth-child(6) {
        grid-column: 2; /* Place these items in the second column */
        position: relative;
        top: -78px;
    }

    .search {
        margin-left: 12%;
    }

    .cart {
        margin-left: 5%;
        margin-top: -15%;
    }


    .banner {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 2%;
    }

    .background-image {
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 60%;
        position: relative;
        margin: 5% 10% 4% 0%;
    }

    .banner-pic {
        position: relative;
        max-width: 80%;
        margin: 18% 2% 0 -2%;
    }

    .banner-content {
        position: relative;
        top: -220px;
        text-align: center;
    }

    .banner-title {
        font-size: 2.375rem;
        position: relative;
        left:-50px;
    }

    .banner-description {
        width: 70%;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        position: relative;
        left:10px;
    }

    .btn-prebook {
        font-weight: 500;
        margin-left: -30%;
    }

    hr {
        display: none;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-top: -60%;
        margin-left: -10%;
    }

     .logo a img {
        width: 60px;
        height: auto;
        padding-right: 10px;
    }

    .logo a:nth-child(5),
    .logo a:nth-child(6),
    .logo a:nth-child(7) {
        margin-left: 50%;
    }

    .popular {
        display: flex;
        flex-direction: column;
    }

    .popular-title {
        margin: 10px 100px 30px 0px;
        text-align: center;
    }

    .popular-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        padding: 0 20px;
        align-items: center;
    }

    .popular-items {
        width: 100%;
    }

    .popular-image {
        width: 93%;
    }

    .popular-text {
        font-weight: 700;
    }

    .price {
        font-weight: 700;
    }

    .rating-text {
        font-weight: 500;
    }

    .popular-description {
        font-weight: 500;
    }

    .see-more {
        position: relative;
        left: -22%;
        white-space: nowrap;
    }

    .featured {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: -20px;
        left: -140px;
    }

    .featured-title {
        font-size: 2rem;
        width: 120%;
        text-align: center;
        margin-left: 40px;
    }

    .featured-description {
        font-size:1rem;
        width: 85%;
        text-align: center;
        position: relative;
        left: 110px;
    }

    .btn-join {
        position: relative;
        left: 190px;
    }

    .featured-img img {
        width: 100%;
        height: auto;
        margin-top: -10%;
        margin-left: 80px;
    }

    .footer-content {
        padding: 5% 30% 5% 10%;
        text-align: center;
    }

    .footer-title {
        font-size: 1rem;
    }

    .footer-text1,
    .footer-text2 {
        font-size: 0.75rem;
    }

    .icon {
        gap: 10px;
    }

    .social-icon {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    @media screen and (min-width:591px) {
        .banner-content {
            left: 50px;
        }

        .logo {
            margin-left: -3%;
        }

        .popular-title {
            margin: 10px 50px 30px;
        }

        .popular-container {
            width: 90%;
            padding: 0 10px 0 80px;
        }

        .see-more {
            left: -10%;
        }

        .featured {
            left: -100px;
        }

        .btn-join {
            left: 180px;
        }

        .footer-content {
            padding: 5% 20%;
        }
    }

    @media screen and (min-width:619px) {

        .see-more {
            left: -9%;
        }

        .btn-join {
            left: 190px;
        }
    }

    @media screen and (min-width:679px) {

        .popular-image {
            width: 94%;
        }

        .see-more {
            left: -9%;
        }

        .featured-title {
            width: 110%;
        }

        .featured-description {
            width: 75%;
            left: 110px;
        }

        .btn-join {
            position: relative;
            left: 200px;
        }
    }


    @media screen and (min-width:710px) { 

        .nav {
            margin-left: 30px;
        }

        .nav>ul {
            left: 35%;
        }

        .background-image {
            margin: 5% 10% 4% 2%;
        }

        .popular-title {
            margin: 10px 40px 30px 10px;
            text-align: center;
        }

        .popular-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            padding: 0 10px;
            align-items: left;
        }

        .popular-image {
            width: 91%;
        }

        .see-more {
            position: relative;
            left: -48%;
            white-space: nowrap;
        }

        .footer-content {
            padding: 5% 30%;
            text-align: center;
        }
    
    }

}

/* Styles for tablets and small desktops */
@media screen and (min-width:768px) and (max-width:991px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10%;
        margin-top: 5%;
    }

    .nav-title {
        grid-column: 1 / -1; /*Make the title span across both columns*/
        text-align: center;
        position: relative;
        left:-30px;
    }

    .nav>ul {
        display: grid;
        gap: 10%;
        width: 100%;
        align-content: center;
        margin-top: 10%;
        position: relative;
        left: 40%;
    }

    .nav li {
        list-style: none;
        font-size: 1rem;
        white-space: nowrap;
    }

    .nav li:nth-child(1),
    .nav li:nth-child(2),
    .nav li:nth-child(3) {
        grid-column: 1; /* Place these items in the first column */
    }

    .nav li:nth-child(4),
    .nav li:nth-child(5),
    .nav li:nth-child(6) {
        grid-column: 2; /* Place these items in the second column */
        position: relative;
        top: -79.22px;
    }

    .search {
        margin-left: 12%;
    }

    .cart {
        margin-left: 5%;
        margin-top: -15%;
    }


    .banner {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 2%;
    }

    .background-image {
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 60%;
        position: relative;
        margin: 5% 10% 4% 0%;
    }

    .banner-pic {
        position: relative;
        max-width: 80%;
        margin: 18% 2% 0 -2%;
    }

    .banner-content {
        position: relative;
        top: -250px;
        left:40px;
        text-align: center;
    }

    .banner-title {
        font-size: 2.375rem;
        position: relative;
        left:-50px;
    }

    .banner-description {
        width: 70%;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        position: relative;
        left:20px;
    }

    .btn-prebook {
        font-weight: 500;
        margin-left: -20%;
    }

    hr {
        display: none;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-top: -70%;
        margin-left: 1%;
    }

     .logo a img {
        width: 60px;
        height: auto;
        padding-right: 10px;
        
    }

    .logo a:nth-child(5),
    .logo a:nth-child(6),
    .logo a:nth-child(7) {
        margin-left: 50%;
    }

    .popular {
        display: flex;
        flex-direction: column;
    }

    .popular-title {
        margin: 10px 50px 30px 40px;
        text-align: center;
    }

    .popular-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            padding: 0 10px;
            align-items: center;
    } 

    .popular-items {
        width: 100%;
    }

    .popular-image {
        width: 92%;
    }

    .popular-text {
        font-weight: 700;
    }

    .price {
        font-weight: 700;
    }

    .rating-text {
        font-weight: 500;
    }

    .popular-description {
        font-weight: 500;
    }

    .see-more {
        position: relative;
        left: -47%;
        white-space: nowrap;
    }

    .featured {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: -20px;
        left: -10px;
    }

    .featured-title {
        font-size: 2rem;
        width: 83%;
        text-align: center;
        margin-left: 30px;
    }

    .featured-description {
        font-size:1rem;
        width: 69%;
        text-align: center;
        position: relative;
        left: 70px;
    }

    .btn-join {
        position: relative;
        left: 160px;
    }

    .featured-img img {
        width: 100%;
        height: auto;
        margin-top: -10%;
        margin-left: -20px;
    }
 
    .footer-content {
        padding: 5% 20%;
        text-align: center;
    }

    .footer-title {
        font-size: 1rem;
    }

    .footer-text1,
    .footer-text2 {
        font-size: 0.75rem;
    }

    .icon {
        gap: 10px;
    }

    .social-icon {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }

    @media screen and (min-width:779px) {

        .featured-title {
            width: 80%;
        }
    
        .featured-description {
            width: 65%;
        }
    }
}

/* Styles for desktops & laptops */
@media screen and (min-width:992px) and (max-width:1343px) {
    .nav {
        justify-content: flex-start; /* Align items to the left */
    }

    .nav > ul {
        margin-left: 200px; /* Adjust this value to control the space */
        white-space: nowrap;
    }

    .banner {
        margin-top: -150px;
        justify-content: flex-start;
    }
    
    .banner-content {
        max-width: 500px;
        margin-top: 10px;
    }

    .banner-title {
        font-size: 2.125rem;
    }

    .banner-description {
        width: 70%;
        text-align: left;
    }

    .btn-prebook {
        margin-top: 2%;
    }

    .background-image {
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 90%;
        position: relative;
        margin: 20% 4% 4% 1%;
    }

    .banner-pic {
        position: relative;
        max-width: 92%;
        margin: 6% 0 0 1%;
    }

    .logo-container {
        margin-top: -50px;
    }

    .line1, .line2 {
        width: 88%;
        margin-left: 50px;
    }
    
    .logo {
        margin: 36px 62px 35px 60px;
    }
    
    .logo a img {
        padding-right: 30px;
        width: 90%;
    }

    .popular-title {
        margin: 10px 70px 30px 5px;
        text-align: center;
    }

    .popular-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
            padding: 0 0 0 60px;
            align-items: center;
    } 

    .popular-items {
        width: 100%;
    }

    .popular-image {
        width: 89%;
    }

    .popular-text {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.375rem;
    }

    .see-more {
        margin-left: 80%;
    }

    .featured {
        margin: 180px 20px 0px;
        gap: 10px;
    }

    .featured-img img {
        width: 80%;
        height: auto;
        margin-left: 30px;
    }

    .featured-title {
        font-size: 1.875rem;
        width: 100%;
        text-align: left;
        margin-left: 5px;
    }

    .featured-description {
        font-size:1rem;
        width: 95%;
        text-align: left;
        margin-left: 10px;
    }

    .btn-join {
        margin-left: 10px;
    }

    .footer-content {
        padding: 50px 300px;  
    }
    
    @media screen and (min-width:1070px){
        .nav > ul {
            margin-left: 270px;
        }

        .logo-container {
            margin-top: 50px;
        }
    }

    @media screen and (min-width:1120px){
        .nav > ul {
            margin-left: 280px;
        }
    }  

}
